<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>too_gold</key>
	<dict>
		<key>title</key>
		<string>玫瑰金</string>
		<key>icon_mine_h</key>
		<string>icon_mine_h2</string>
		<key>icon_mine_n</key>
		<string>icon_mine_n</string>
		<key>icon_case_h</key>
		<string>icon_case_h2</string>
		<key>icon_case_n</key>
		<string>icon_case_n</string>
		<key>icon_class_h</key>
		<string>icon_class_h2</string>
		<key>icon_class_n</key>
		<string>icon_class_n</string>
		<key>icon_home_n</key>
		<string>icon_home_n</string>
		<key>icon_home_h</key>
		<string>icon_home_h2</string>
		<key>icon_more</key>
		<string>icon_more2</string>
		<key>icon_man</key>
		<string>icon_man2</string>
		<key>color</key>
		<string>fbb8ac</string>
	</dict>
	<key>too_blue</key>
	<dict>
		<key>title</key>
		<string>天空蓝</string>
		<key>icon_mine_h</key>
		<string>icon_mine_h</string>
		<key>icon_mine_n</key>
		<string>icon_mine_n</string>
		<key>icon_case_h</key>
		<string>icon_case_h</string>
		<key>icon_case_n</key>
		<string>icon_case_n</string>
		<key>icon_class_h</key>
		<string>icon_class_h</string>
		<key>icon_class_n</key>
		<string>icon_class_n</string>
		<key>icon_home_n</key>
		<string>icon_home_n</string>
		<key>icon_home_h</key>
		<string>icon_home_h</string>
		<key>icon_more</key>
		<string>icon_more</string>
		<key>icon_man</key>
		<string>icon_man</string>
		<key>color</key>
		<string>66A2F9</string>
	</dict>
	<key>too_house</key>
	<dict>
		<key>title</key>
		<string>土豪金</string>
		<key>icon_mine_h</key>
		<string>icon_mine_h1</string>
		<key>icon_mine_n</key>
		<string>icon_mine_n</string>
		<key>icon_case_h</key>
		<string>icon_case_h1</string>
		<key>icon_case_n</key>
		<string>icon_case_n</string>
		<key>icon_class_h</key>
		<string>icon_class_h1</string>
		<key>icon_class_n</key>
		<string>icon_class_n</string>
		<key>icon_home_n</key>
		<string>icon_home_n</string>
		<key>icon_home_h</key>
		<string>icon_home_h1</string>
		<key>icon_more</key>
		<string>icon_more1</string>
		<key>icon_man</key>
		<string>icon_man1</string>
		<key>color</key>
		<string>F5DEB9</string>
	</dict>
    <key>too_zi</key>
    <dict>
        <key>title</key>
        <string>魅力紫</string>
        <key>icon_mine_h</key>
        <string>icon_mine_h3</string>
        <key>icon_mine_n</key>
        <string>icon_mine_n</string>
        <key>icon_case_h</key>
        <string>icon_case_h3</string>
        <key>icon_case_n</key>
        <string>icon_case_n</string>
        <key>icon_class_h</key>
        <string>icon_class_h3</string>
        <key>icon_class_n</key>
        <string>icon_class_n</string>
        <key>icon_home_n</key>
        <string>icon_home_n</string>
        <key>icon_home_h</key>
        <string>icon_home_h3</string>
        <key>icon_more</key>
        <string>icon_more3</string>
        <key>icon_man</key>
        <string>icon_man3</string>
        <key>color</key>
        <string>A33FFC</string>
    </dict>
    <key>too_fen</key>
    <dict>
        <key>title</key>
        <string>女生粉</string>
        <key>icon_mine_h</key>
        <string>icon_mine_h4</string>
        <key>icon_mine_n</key>
        <string>icon_mine_n</string>
        <key>icon_case_h</key>
        <string>icon_case_h4</string>
        <key>icon_case_n</key>
        <string>icon_case_n</string>
        <key>icon_class_h</key>
        <string>icon_class_h4</string>
        <key>icon_class_n</key>
        <string>icon_class_n</string>
        <key>icon_home_n</key>
        <string>icon_home_n</string>
        <key>icon_home_h</key>
        <string>icon_home_h4</string>
        <key>icon_more</key>
        <string>icon_more4</string>
        <key>icon_man</key>
        <string>icon_man4</string>
        <key>color</key>
        <string>F699F8</string>
    </dict>
</dict>
</plist>
